# API Configuration
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080/api/v1

# Default Namespace
NEXT_PUBLIC_DEFAULT_NAMESPACE=default

# Rollout feature flags
NEXT_PUBLIC_ROLLOUT_WATCH_ENABLED=true
NEXT_PUBLIC_ROLLOUT_ANALYSIS_ENABLED=true
NEXT_PUBLIC_ROLLBACK_ENABLED=true
